@use './svgImg';
@use './lightsOff';

.library {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.settings {
  position: relative;

  .themeSwitch {
    position: absolute;
    top: 90px;
    right: 70px;
  }
}

.mainHeader {
  position: relative;
  left: 80px;
  font-size: 50px;

  &::before {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: svgImg.$mainHeader;

    top: -15px;
    left: -70px;
  }
}

.toggleCard,
.toggleTable {
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 5px;
}

.toggleCard {
  background-image: svgImg.$toggleCard;
  margin-left: 70%;
}

.toggleTable {
  background-image: svgImg.$toggleTable;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.statistics {
  margin-top: 39px;
  width: 200px;
  height: 500px;
  background: linear-gradient(180deg, #e9d3b5 40%, rgba(236, 146, 63, 0) 50%);
  border-radius: 10px;
  padding: 10px;

  .field {
    width: 170px;
    margin: 10px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  h2 {
    text-align: center;
  }
}

.textFish {
  display: absolute;
}

.cards {
  width: 1071px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  position: relative;
  width: 373px;
  padding-left: 52px;
  height: 326px;

  margin-top: 40px;
  margin-right: 40px;

  border-radius: 15px 0 15px 0;

  p {
    display: flex;
    gap: 15px;
  }

  .id {
    margin-top: 25px;
  }

  .vline {
    position: absolute;
    height: 100%;
    width: 5px;
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);

    left: 35px;
  }

  .icon {
    position: relative;
    float: left;
    width: 85px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;

    &::before,
    &::after {
      content: ' ';
      position: absolute;
      width: 50px;
      height: 60px;
      border-radius: 5px;
    }

    &::before {
      transform: rotate(15deg);
      background-color: #ded6d6;
      top: 10px;
      left: 26px;
    }

    &::after {
      transform: rotate(-15deg);
      background-color: #ececec;
      top: 7px;
      left: 6px;
    }
  }

  .authorWrap {
    clear: both;
  }

  .pages {
    position: absolute;
    right: 20px;

    &::before {
      content: ' ';
      position: absolute;
      background-image: svgImg.$pages;
      width: 20px;
      height: 20px;
      left: -30px;
    }
  }

  .result {
    text-align: right;
  }

  .isRead {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  .edit,
  .delete,
  .save,
  .cancel {
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  .edit,
  .save {
    right: 70px;
  }
}

#delete {
  margin-left: 40%;
  margin-right: 10%;
}

.table {
  margin-top: 30px;
  margin-right: 25px;
  text-align: center;

  .tableHeader {
    padding: 5px;
  }

  .author {
    text-align: left;
  }

  .tableData div input {
    width: 95%;
    font-size: 0.9em;
  }

  .tableData.author {
    div {
      width: 180px;
    }
  }

  .tableData.title {
    div {
      width: 180px;
    }
  }

  .tableData.start,
  .tableData.finish,
  .tableData.publish,
  .tableData.created {
    div {
      width: 110px;
    }
  }

  .tableData:last-child,
  .tableData.id {
    div {
      width: 70px;
    }
  }

  .isRead {
    &::after,
    &:checked::after {
      width: 25px;
      height: 25px;
      background-size: contain;
      background-position: center;
      top: -6px;
      left: -6px;
    }
  }

  .edit,
  .delete,
  .save,
  .cancel {
    width: 22px;
    height: 16px;
    margin: 8px 4px;
    background-size: contain;
    background-position: center;
  }

  .save {
    position: relative;

    &:before,
    &:after {
      border-radius: 3px;

      top: 5px;
      left: 4px;
    }

    &:before {
      width: 3px;
      height: 8px;
    }

    &:after {
      width: 13px;
      height: 3px;
    }
  }

  .cancel {
    &:before,
    &:after {
      width: 15px;
      height: 3px;
      border-radius: 3px;

      bottom: 5px;
      left: 1px;
    }
  }

  input {
    text-align: center;
    padding: 0;
    font-size: 0.7em;
  }
}

.edit,
.delete,
.save,
.cancel {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 26px;
  margin: 10px;

  &:active {
    background-color: lightgray;
    border-radius: 3px;
  }
}

.edit {
  background-image: svgImg.$editBtn;
}

.delete {
  background-image: svgImg.$deleteBtn;
}

.save {
  position: relative;

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    background-color: #4f8a8b;
    border-radius: 6px;

    top: 9px;
    left: 7px;
  }

  &:before {
    width: 6px;
    height: 15px;
    transform: rotate(315deg) translateY(-1px);
  }

  &:after {
    width: 25px;
    height: 6px;
    transform: rotate(315deg);
  }

  &:active:before,
  &:active:after {
    background-color: red;
  }
}

.cancel {
  position: relative;

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 6px;
    border-radius: 6px;
    background-color: red;

    bottom: 10px;
    left: 2px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(315deg);
  }

  &:active:before,
  &:active:after {
    background-color: #4f8a8b;
  }
}

.isRead {
  position: relative;
  visibility: hidden;

  &::after,
  &:checked::after {
    content: ' ';
    position: absolute;
    visibility: visible;
    border-radius: 50%;
    border: none;
    width: 52px;
    height: 52px;
    top: -20px;
    left: -20px;
  }

  &:after {
    background-image: svgImg.$isNotRead;
  }

  &:checked::after {
    background-image: svgImg.$isRead;
  }
}

.read {
  background: linear-gradient(
    190deg,
    rgba(255, 255, 255, 0.5) -1.73%,
    rgba(29, 191, 152, 0.5) 101.71%
  );
}

.unread {
  background: linear-gradient(
    225deg,
    rgba(119, 224, 240, 0.5) 23.77%,
    rgba(238, 191, 246, 0.5) 80.83%
  );
}

.addBookBtn {
  position: absolute;
  right: 45px;
  top: 700px;
  width: 100px;
  height: 40px;
  background: #4f8a8b;
  color: #f8f5f1;
  border: none;
  border-radius: 10px;

  &:active {
    background-color: #9acacb;
  }
}

.dialog {
  border: none;
  border-radius: 30px;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 50px;

  label {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: left;
    margin: 10px 0;

    &:nth-child(4) input {
      width: 50px;
    }

    &:nth-last-child(2) span {
      width: 200px;
    }

    span {
      width: 120px;
    }

    input {
      width: 350px;
    }

    input[type='date'] {
      width: initial;
    }

    input[type='checkbox'] {
      width: initial;
    }
  }

  div {
    display: flex;
    width: 100%;
    margin-top: 30px;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}

input:valid {
  border: 1px solid lightgreen;
  overflow: visible;
}

input:invalid {
  border: 1px solid red;
}

.ifEmpty {
  margin-top: 10%;
}
